@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    display: flex;
}

:root{
    --dark-bg-color: #1F2937;
    --main-logo-color: #f9faf8;
    --button-color: #3882f6;
    --q-color: #e5e7eb;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: var(--dark-bg-color);
    position: fixed;
    z-index: 999px;
}

.logo{
    font-size: 24px;
    color: var(--main-logo-color);
    font-weight: 600;
    text-decoration: none;
}

.navigation a{
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: var(--q-color);
    padding-right: 20px;
}
.main{
    background-color: var(--dark-bg-color);
}
.main h2{
    color:var(--main-logo-color);
    font-size: 48px;
    font-weight: 800;
}
.main p{
    font-size: 18px;
    color: var(--q-color);
}
.main button a{
    font-size: 22px;
    color: var(--main-logo-color);
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 40px;
    background-color: var(--button-color);
}